@font-face {
  font-family: 'Titan One';
  src: url('/fonts/TitanOne-Regular.ttf') format('truetype');
}
* {
	/* Brand foundation - HSV */
	--brand-hue: 200;
	--brand-saturation: 60%;
	--brand-lightness: 70%;

	/* light */
	--brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
	--text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
	--text2-light: hsl(var(--brand-hue) 30% 30%);
	--surface1-light: hsl(var(--brand-hue) 25% 90%);
	--surface2-light: hsl(var(--brand-hue) 20% 99%);
	--surface3-light: hsl(var(--brand-hue) 20% 92%);
	--surface4-light: hsl(var(--brand-hue) 20% 85%);
	--surface-shadow-light: var(--brand-hue) 10% 20%;
	--shadow-strength-light: .02;

	/* dark */
	--brand-dark: hsl(
		var(--brand-hue) 
		calc(var(--brand-saturation) / 2)
		calc(var(--brand-lightness) / 1.5)
	);
	--text1-dark: hsl(var(--brand-hue) 15% 85%);
	--text2-dark: hsl(var(--brand-hue) 5% 65%);
	--surface1-dark: hsl(var(--brand-hue) 10% 10%);
	--surface2-dark: hsl(var(--brand-hue) 10% 15%);
	--surface3-dark: hsl(var(--brand-hue) 5%  20%);
	--surface4-dark: hsl(var(--brand-hue) 5% 25%);
	--surface-shadow-dark: var(--brand-hue) 50% 3%;
	--shadow-strength-dark: .8;

	/* dim */
	--brand-dim: hsl(
		var(--brand-hue) 
		calc(var(--brand-saturation) / 1.25)
		calc(var(--brand-lightness) / 1.25)
	);
	--text1-dim: hsl(var(--brand-hue) 15% 75%);
	--text2-dim: hsl(var(--brand-hue) 10% 61%);
	--surface1-dim: hsl(var(--brand-hue) 10% 20%);
	--surface2-dim: hsl(var(--brand-hue) 10% 25%);
	--surface3-dim: hsl(var(--brand-hue) 5%  30%);
	--surface4-dim: hsl(var(--brand-hue) 5% 35%);
	--surface-shadow-dim: var(--brand-hue) 30% 13%;
	--shadow-strength-dim: .2;
}
:root {
	color-scheme: light;

	/* set defaults */
	--brand: var(--brand-light);
	--text1: var(--text1-light);
	--text2: var(--text2-light);
	--surface1: var(--surface1-light);
	--surface2: var(--surface2-light);
	--surface3: var(--surface3-light);
	--surface4: var(--surface4-light);
	--surface-shadow: var(--surface-shadow-light);
	--shadow-strength: var(--shadow-strength-light);
	--ny-1: hsl(65, 100%, 75%);
	--ny-2: hsl(65, 100%, 65%);
	--ny-3: hsl(65, 100%, 45%);
	--ny-4: hsl(65, 100%, 35%);
	--lg-1: hsl(152, 100%, 75%);
	--lg-2: hsl(152, 100%, 65%);
	--lg-3: hsl(152, 100%, 45%);
	--lg-4: hsl(152, 100%, 35%);
	--c-1: hsl(184, 100%, 75%);
	--c-2: hsl(184, 100%, 65%);
	--c-3: hsl(184, 100%, 45%);
	--c-4: hsl(184, 100%, 35%);
	--i-1: hsl(339, 100%, 75%);
	--i-2: hsl(339, 100%, 65%);
	--i-3: hsl(339, 100%, 45%);
	--i-4: hsl(339, 100%, 35%);
	--b-1: hsl(240, 100%, 45%);
	--b-2: hsl(240, 100%, 35%);
	--b-3: hsl(240, 100%, 25%);
	--b-4: hsl(240, 100%, 15%);
	--p-1: hsl(295, 100%, 30%);
	--p-2: hsl(295, 100%, 25%);
	--p-3: hsl(295, 100%, 20%);
	--p-4: hsl(295, 100%, 15%);


	/* Shades for gradients on FPL COLORS */

	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--header-height: 3em;
	/* FPL Colour Palette */
	--darkgreen: #02884E;
	--lightgreen: #00FF87;
	--darkpurple: #37003C;
	--lightpurple: #963CFF;
	--indico: #E90052;
	--cyan: #05F0FF;
	--neonyellow: #EBFF00;
	--burgundy: #80072d;
	--gray: #E2E2E2;
	--red: #C0020D;
	--gold: #ffd96d;
	--silver: #e7ecef;
	--bronze: #e2b690;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--brand: var(--brand-dark);
		--text1: var(--text1-dark);
		--text2: var(--text2-dark);
		--surface1: var(--surface1-dark);
		--surface2: var(--surface2-dark);
		--surface3: var(--surface3-dark);
		--surface4: var(--surface4-dark);
		--surface-shadow: var(--surface-shadow-dark);
		--shadow-strength: var(--shadow-strength-dark);
	}
}

/* Color schemes - could add more schemes here */
[color-scheme="light"] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text1: var(--text1-light);
	--text2: var(--text2-light);
	--surface1: var(--surface1-light);
	--surface2: var(--surface2-light);
	--surface3: var(--surface3-light);
	--surface4: var(--surface4-light);
	--surface-shadow: var(--surface-shadow-light);
	--shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text1: var(--text1-dark);
	--text2: var(--text2-dark);
	--surface1: var(--surface1-dark);
	--surface2: var(--surface2-dark);
	--surface3: var(--surface3-dark);
	--surface4: var(--surface4-dark);
	--surface-shadow: var(--surface-shadow-dark);
	--shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
	color-scheme: dark;

	--brand: var(--brand-dim);
	--text1: var(--text1-dim);
	--text2: var(--text2-dim);
	--surface1: var(--surface1-dim);
	--surface2: var(--surface2-dim);
	--surface3: var(--surface3-dim);
	--surface4: var(--surface4-dim);
	--surface-shadow: var(--surface-shadow-dim);
	--shadow-strength: var(--shadow-strength-dim);
}

.shadow {
	filter: drop-shadow(2px 2px 2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)));
}
.shadow-alt {
	filter: drop-shadow(-1px -1px 5px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)));
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--surface1);
}

body {
	/*color: #333;*/
	/* background-color: #000; */
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
	font-family: -apple-system, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue";
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	/*margin: 0 0 0.5em 0;*/
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

::-webkit-scrollbar {
	width: 0px;
	cursor: pointer;
}
::-webkit-scrollbar-thumb {
	background: rgba(50, 50, 50, 0.2);
	border-radius: 5px;
}